#d1 {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px;
}
h2 {
    color: red;
    text-align: center;
}
p {
    text-align: center;
    font-weight: bold;
}
span {
    color: blue;
}
.c {
    border: 1px solid #ccc;
    width : 600px;
}
img {
    width : 600px;
}