div {
    border: 1px solid black;
    box-sizing: border-box;
    /* border쓸때 꺠지지않게 하려면 box-sizing을 border-box로 하면됨 */
}

#container {
    width: 800px;
    /* 페이지 늘릴때 따라서 늘려지지 않게 하는거 */
    --margin: 0 auto;
}
#header {
    width: 100%;
    height: 100px;
    background-color: antiquewhite;
}
#main {
    height: 500px;
    background-color: azure;
}
    #main-layer1 {
        width : 20%;
        height: inherit;
        background-color: cadetblue;
        float: left;
    }
    #main-layer2 {
        width: 80%;
        height: inherit;
        background-color: aquamarine;
        float: left;
    }
#footer {
    height: 100px;
    background-color: crimson;
}