#container { 
    border : 1px solid black;
    width: 520px;
    padding : 20px 40px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

li {
    --margin: 10px;
    line-height: 30px;
}

#private-info li label {
    width: 80px;
    text-align: left;
    float: left;
}